.logo{
    display: flex;
    align-items: center;
    gap: 6px;
    font-family: $ff-secondary;
    font-size: 40px;
    line-height: 48px;

    svg{
        width: 56px;
        height: 39px;
    }
}