mixin nav()
    nav.nav 
        ul.nav__wrapper 
            li
                a(href="#") Home
            li
                a(href="#") Earth
            li
                a(href="#") Insights
            li
                a(href="#") Plans
            li
                a(href="#") Contact
